                <div class="c"></div>
                <footer class="ui-widget ui-widget-content ui-corner-all p10 mt10">
                        <if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
                        Documentation generator: <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blank">JsDoc Toolkit</a> {+JSDOC.VERSION+}<br />
                        Template: <a href="{+publish.conf.templateLink+}" target="_blank">{+publish.conf.templateName+}</a> {+publish.conf.templateVersion+}
                        based on <a href="{+publish.conf.origTemplateLink+}" target="_blank">Codeview</a><br />
                        Generated on: {!
                                var date = new Date();
                                var minutes = date.getMinutes() +"";
                                if (minutes.length == 1) {
                                        minutes = '0'+ minutes;
                                }
                                output += date.getFullYear() +"-"+ date.getMonth() +"-"+ date.getDate() +" "+ date.getHours() +":"+ minutes;
                        !}
                </footer>
		<script type="text/javascript">
			wbos.CssTools.MediaQueryFallBack.LoadCss('{+Link.base+}css/screen.css', '{+Link.base+}css/handheld.css', 660)
			codeview.classFilter.Init()
		</script>
	</body>
</html>
